@import '../../call-force';

.operators-middle {
  width: 100%;

  .options-middle{
    min-height: 4.4rem;
    background: #e3e9f7;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.3rem 0.4rem 0.5rem;
    position: relative;

    .top-line {
      margin-top: 0.3rem;
      display: block;
      text-align: center;
      height: auto;
      padding: 5px 9px 4px 9px;
      background:  #ffffff;
      border-radius: 4px;
      margin-right: 5px;
      border: 1px solid #d7e1ff;
      font-size: 1rem;
      color: $darkWrite;
      cursor: pointer;
    }
    .activeTop {
      color: #429542;
      background: #eaf7ea;
    }

    .bottom-line {
      margin-top: 0.3rem;
      display: block;
      text-align: center;
      height: 25px;
      padding: 5px 9px 0 9px;
      background:  #ffffff;
      border-radius: 4px;
      margin-right: 5px;
      border: 1px solid #d7e1ff;
      font-size: 1rem;
      color: $darkWrite;
      cursor: pointer;
    }
    .activeBottom {
      color: #e28c15;
      background: #fef8ea;
    }

    .div-icon {
      right: 0.9rem;
      bottom: 0.3rem;
      width: auto;
      position: absolute;

      .option-icon {
        margin-left: 6rem;
        margin-top: 0.3rem;
        content: url("../../assets/img/options.svg");
        background:  #ffffff;
        padding: 6px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }


}