$colorLight: #eceff3;
$colorDark: #121839;
$colorWrite: #7c86a2;
$darkWrite: #4d5a75;
$colorActive: #FAF010;
$colorIncoming: #40cd40;
$colorInactive: #FF4328;
$colorOutbox: #1B8FFF;
$colorWorcking: #8056be;
$colorSeparator: #d6def5;
$colorOrange: #ffecd1;
$colorGreen: #e3f7d9;
$colorBlue: #b4ecff;
$colorViolet: #e2c6fe;
$colorRed: #fad6db;